.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.auto-write-container {
  display: inline-block;
  font-family: monospace;
}

.typed-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 1px solid black; */
   /* Create the illusion of typing */
  animation: type-animation 6s infinite;
  /* font-size: 40px; */
  font-family: 'Roboto Condensed', sans-serif;
  /* letter-spacing: 5px; */
  
}
.heading-main{
  font-size: 100px;
  color: red;
  font-weight: bold;
}
.illuminate{
  font-size: 30px;
}

@keyframes type-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
